<div class="container" style="margin-top: 50px;">
	<div class="row">
		<div class="col-lg-7 col-xs-12 col-lg-offset-3">
			<div class="widget tabs">
				<div id="horizontal-tabs">
					<ul class="tabs" style="display: inline-block;">
						<li ng-click="switchTab('')"
							ng-class="{current: tab.all}" translate>ALL</li>
						<li ng-click="switchTab('BBVA')"
							ng-class="{current: tab.current==='BBVA'}">L.BBVA</li>
						<li ng-click="switchTab('Adelante')"
							ng-class="{current: tab.current==='Adelante'}">L.Adelante</li>
						<li ng-click="switchTab('Premier')"
							ng-class="{current: tab.current==='Premier'}">Premier</li>
						<li ng-click="switchTab('Calcio')"
							ng-class="{current: tab.current==='Calcio'}">Calcio</li>
						<li ng-click="switchTab('Bundesliga')"
							ng-class="{current: tab.current==='Bundesliga'}">Bundesliga</li>
						<li ng-click="switchTab('Favorites')"
							ng-class="{current: tab.favorites}" translate>FAVORITES</li>
					</ul>

				</div>
			</div>
		</div>
		<div class="col-lg-2 col-xs-12 col-lg-offset-1">
			<div class="form-group" >
				<span translate>SEARCH</span>: <input ng-model="query"
					class="form-control">
			</div>
			<div>
				<span translate>SORT</span>: <select ng-model="orderProp"
					class="form-control">
					<option value="teamName">{{"ALPHABETICAL" | translate}}</option>
					<option value="teamPosition">{{"POSITION" | translate}}</option>
				</select>
			</div>
		</div>
		<div class="col-lg-7 col-xs-12" style="margin-top: 20px;">
			<p ng-hide="filteredTeams.length" class="text-center" style="font-weight:bold;" translate>EMPTY_LIST</p>
			<div class="list-group">
				<a	style="cursor:default"
					ng-repeat="team in filteredTeams = (teams | filter:{teamName:query,leagueName:tab.current, isFollow: tab.favorites} | orderBy:orderProp)"
					class="list-group-item clearfix"><b><span
						style="margin-right:5px;">{{team.teamPosition}}&deg;</span>
						<span style="cursor:pointer;" ng-click="goTo('/team/statistics/'+team.teamId)">{{team.teamName}}</span></b> <span class="pull-right"> <span
						class="text-muted">{{team.leagueName}}</span>
						<button ng-click="follow(team)" ng-show="!team.isFollow" class="btn-xs btn-2"
							style="margin-left: 5px;width:100px" translate>FOLLOW</button>
						<button ng-click="follow(team)" ng-show="team.isFollow" class="btn-xs btn-2-red"
							style="margin-left: 5px;width:100px;" translate>UNFOLLOW</button>
				</span>
				</a>
			</div>
		</div>
	</div>
</div>