<div>

    <h2 translate="predictorumApp.actor.home.title">Actor</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveActorModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="predictorumApp.actor.home.createLabel">Create a new Actor</span>
    </button>
    <div class="modal fade" id="saveActorModal" tabindex="-1" role="dialog" aria-labelledby="myActorLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myActorLabel" translate="predictorumApp.actor.home.createOrEditLabel">Create or edit a Actor</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="actor.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="predictorumApp.actor.srPoints">SrPoints</label>
                            <input type="number" class="form-control" name="srPoints"
                                   ng-model="actor.srPoints" min="0">

                            <div ng-show="editForm.srPoints.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.srPoints.$error.min" translate="entity.validation.min" translate-value-min="0">
                                    This field should be more than 0.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.srPoints.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="predictorumApp.actor.drPoints">DrPoints</label>
                            <input type="number" class="form-control" name="drPoints"
                                   ng-model="actor.drPoints" min="0">

                            <div ng-show="editForm.drPoints.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.drPoints.$error.min" translate="entity.validation.min" translate-value-min="0">
                                    This field should be more than 0.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.drPoints.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="predictorumApp.actor.sHRPoints">SHRPoints</label>
                            <input type="number" class="form-control" name="sHRPoints"
                                   ng-model="actor.sHRPoints" min="0">

                            <div ng-show="editForm.sHRPoints.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.sHRPoints.$error.min" translate="entity.validation.min" translate-value-min="0">
                                    This field should be more than 0.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.sHRPoints.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="predictorumApp.actor.dHRPoints">DHRPoints</label>
                            <input type="number" class="form-control" name="dHRPoints"
                                   ng-model="actor.dHRPoints" min="0">

                            <div ng-show="editForm.dHRPoints.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.dHRPoints.$error.min" translate="entity.validation.min" translate-value-min="0">
                                    This field should be more than 0.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.dHRPoints.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="predictorumApp.actor.hGPoints">HGPoints</label>
                            <input type="number" class="form-control" name="hGPoints"
                                   ng-model="actor.hGPoints" min="0">

                            <div ng-show="editForm.hGPoints.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.hGPoints.$error.min" translate="entity.validation.min" translate-value-min="0">
                                    This field should be more than 0.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.hGPoints.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="predictorumApp.actor.aGPoints">AGPoints</label>
                            <input type="number" class="form-control" name="aGPoints"
                                   ng-model="actor.aGPoints" min="0">

                            <div ng-show="editForm.aGPoints.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.aGPoints.$error.min" translate="entity.validation.min" translate-value-min="0">
                                    This field should be more than 0.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.aGPoints.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="predictorumApp.actor.hHGPoints">HHGPoints</label>
                            <input type="number" class="form-control" name="hHGPoints"
                                   ng-model="actor.hHGPoints" min="0">

                            <div ng-show="editForm.hHGPoints.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.hHGPoints.$error.min" translate="entity.validation.min" translate-value-min="0">
                                    This field should be more than 0.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.hHGPoints.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="predictorumApp.actor.hAGPoints">HAGPoints</label>
                            <input type="number" class="form-control" name="hAGPoints"
                                   ng-model="actor.hAGPoints" min="0">

                            <div ng-show="editForm.hAGPoints.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.hAGPoints.$error.min" translate="entity.validation.min" translate-value-min="0">
                                    This field should be more than 0.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.hAGPoints.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="predictorumApp.actor.mT25Points">MT25Points</label>
                            <input type="number" class="form-control" name="mT25Points"
                                   ng-model="actor.mT25Points" min="0">

                            <div ng-show="editForm.mT25Points.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.mT25Points.$error.min" translate="entity.validation.min" translate-value-min="0">
                                    This field should be more than 0.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.mT25Points.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate="predictorumApp.actor.owner">owner</label>
                            <select class="form-control" name="owner" ng-model="actor.owner.id" ng-options="user.id as user.login for user in users">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteActorConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(actor.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="predictorumApp.actor.delete.question" translate-values="{id: '{{actor.id}}'}">Are you sure you want to delete this Actor?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="predictorumApp.actor.srPoints">SrPoints</th>
                    <th translate="predictorumApp.actor.drPoints">DrPoints</th>
                    <th translate="predictorumApp.actor.sHRPoints">SHRPoints</th>
                    <th translate="predictorumApp.actor.dHRPoints">DHRPoints</th>
                    <th translate="predictorumApp.actor.hGPoints">HGPoints</th>
                    <th translate="predictorumApp.actor.aGPoints">AGPoints</th>
                    <th translate="predictorumApp.actor.hHGPoints">HHGPoints</th>
                    <th translate="predictorumApp.actor.hAGPoints">HAGPoints</th>
                    <th translate="predictorumApp.actor.mT25Points">MT25Points</th>
                    <th translate="predictorumApp.actor.owner">owner</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="actor in actors">
                    <td><a ui-sref="actorDetail({id:actor.id})">{{actor.id}}</a></td>
                    <td>{{actor.srPoints}}</td>
                    <td>{{actor.drPoints}}</td>
                    <td>{{actor.sHRPoints}}</td>
                    <td>{{actor.dHRPoints}}</td>
                    <td>{{actor.hGPoints}}</td>
                    <td>{{actor.aGPoints}}</td>
                    <td>{{actor.hHGPoints}}</td>
                    <td>{{actor.hAGPoints}}</td>
                    <td>{{actor.mT25Points}}</td>
                    <td>{{actor.owner.login}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="actorDetail({id:actor.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(actor.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(actor.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
